body {
    background: linear-gradient(to bottom, #E8E9EA, #BDD5E3, #E8E9EA);
}
.card {
    margin-top: 50px;
    border-radius: 15px;
    font-family: "Times New Roman", Times, serif;
}
.profile-img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 20px;
}
.btn-instagram {
    background: linear-gradient(to right, #833AB4, #FD1D1D, #F56040, #FFDC80);
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    transition: 0.3s ease;
}

.btn-instagram:hover {
    background: linear-gradient(to right, #FFDC80, #F56040, #FD1D1D, #833AB4);
}

p.text-muted {
    color: #CFBFA2 !important;
}
h2, .list-unstyled li {
    color: #9E8668;
}
